.header{
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.centro{
display: flex;
flex-flow: column  nowrap;
justify-content: space-between;
align-content: space-between;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
   
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family:Roboto;
  }

  .header .menulogo img{
    width: 64px;
    height: 64px;
    
  }

  .menulogo{ 
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
.contenedor{/*CONTENEDOR*/
  cursor: pointer;
  position: relative;
  transition: all 1s ease;
  transform-style: preserve-3d;

  display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
}
.contenedor div > img{
  width: 100%;
}

  .front, .back{
  position: absolute;
  backface-visibility: hidden;
  }
  .front{
    transform: rotateX(180deg)
    
  }

  .contenedor:hover{/*CONTENEDOR*/
    transform: rotateX(180deg)
  }

.upper img{
  width: 90%;
  display:block;
  margin: auto;
}
  .hero h1{
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    height: 100%;
    font-size:100px;
    line-height: 100px;
    color: white;
    margin-top: 0;
  }
  

  